.animated-fast {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.layui-layer-title {
  background-color: #36445f !important;
  text-align: center;
  color: #fff !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei";
}
body {
  background-color: #f2f2f2;
}
.border-none {
  border: none;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active,
.landing-page .btn-primary.disabled,
.landing-page .btn-primary.disabled:hover,
.landing-page .btn-primary.disabled:focus,
.landing-page .btn-primary.disabled:active,
.landing-page .btn-primary.disabled.active,
.landing-page .btn-primary[disabled],
.landing-page .btn-primary[disabled]:hover,
.landing-page .btn-primary[disabled]:focus,
.landing-page .btn-primary[disabled]:active,
.landing-page .btn-primary.active[disabled],
.landing-page fieldset[disabled] .btn-primary,
.landing-page fieldset[disabled] .btn-primary:hover,
.landing-page fieldset[disabled] .btn-primary:focus,
.landing-page fieldset[disabled] .btn-primary:active,
.landing-page fieldset[disabled] .btn-primary.active {
  background-color: rgba(40, 133, 236, 0);
  border-color: rgba(40, 133, 236, 0.7);
  color: rgba(40, 133, 236, 0.7) !important;
}
.margin-none {
  margin: 0;
}
.po-rela {
  position: relative;
}
.po-abso {
  position: absolute;
}
.font20 {
  font-size: 20px;
}
.h100 {
  height: 100%;
}
.wrap {
  height: 100%;
}
.w90 {
  width: 90px !important;
}
.gray-bg,
.bg-muted {
  background-color: #f2f2f2;
}
.b-radio-3 {
  border-radius: 3px !important;
}
.form-control,
.single-line {
  border-radius: 3px;
}
label {
  color: #333;
}
.ibox-title {
  border: none;
}
.ibox-title h5 {
  font-size: 18px;
  color: #222;
  margin-top: 8px;
}
.ibox-content {
  padding: 15px;
}
textarea.form-control {
  resize: none !important;
}
select.form-control {
  display: inline-block;
  width: 120px;
}
select.input-sm.form-control {
  padding-top: 4px;
}
input[type=checkbox]:focus,
input[type=checkbox]:active,
input[type=checkbox]:hover,
input[type=checkbox]:link,
input[type=radio]:focus,
input[type=radio]:active,
input[type=radio]:hover,
input[type=radio]:link {
  outline: none;
}
input[type=checkbox],
input[type=radio] {
  margin: 0;
}
input[type=checkbox] {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  background-image: transparent;
  margin-top: -3px;
  margin-right: 3px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
input[type=checkbox]:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/icon/select.png);
  background-size: 100% 100%;
  border: 0;
  background-color: transparent;
}
input[type=checkbox]:checked:after {
  background-image: url(../images/icon/select-a.png);
}
input[type=checkbox].checkboxAll:after {
  background-image: url(../images/icon/select-all.png);
}
input[type=checkbox].checkboxAll:checked:after {
  background-image: url(../images/icon/select-all-a.png);
}
input[type=radio] {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  background-image: transparent;
  margin-top: -3px;
  margin-right: 3px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
input[type=radio]:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/icon/radio.png);
  background-size: 100% 100%;
  border: 0;
  background-color: transparent;
}
input[type=radio]:checked:after {
  background-image: url(../images/icon/radio-a.png);
}
.ibox {
  margin-bottom: 0;
}
.pm {
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.title-wrap {
  position: relative;
  background-color: #fbfbfb;
  color: #2885ec;
  font-size: 16px;
}
.title-wrap:before {
  content: '';
  position: absolute;
  top: 14px;
  left: 0;
  width: 2px;
  height: 20px;
  background-color: #2885ec;
}
a.collapse-link {
  color: #333;
  font-size: 12px;
}
.date-wrap .input-group-addon {
  border-radius: 3px 0 0 3px;
}
.date-wrap .date.form-control {
  width: 282px !important;
}
label {
  min-width: 90px;
  text-align: right;
  margin-right: 15px;
  position: relative;
  padding-left: 0;
}
label.must::before {
  position: absolute;
  left: 0;
  content: '*';
  color: #f77e5b;
}
.form-inline input.form-control,
.form-inline select.form-control {
  display: inline-block;
  width: 320px;
}
.form-inline .form-group .btn {
  float: right;
}
.form-inline textarea.form-control {
  width: 70%;
  height: 122px;
}
.remark {
  position: relative;
}
.remark .po-abso {
  bottom: 10px;
  left: 1000px;
}
