<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			 http://www.springframework.org/schema/context
			  http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="false">

    <context:property-placeholder location="classpath:redis.properties" ignore-unresolvable="true"/>

    <bean id="redisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${redis.maxTotal}" />
        <property name="maxIdle" value="${redis.maxIdle}" />
        <property name="maxWaitMillis" value="${redis.maxWaitMillis}" />
        <property name="testOnBorrow" value="${redis.testOnBorrow}" />
    </bean>

    <!-- Redis集群配置 -->
    <bean id="jedis.shardInfo1" class="redis.clients.jedis.JedisShardInfo">
        <constructor-arg index="0" value="${redis.redisCacheHost1}" />
        <constructor-arg index="1" value="${redis.redisCachePort1}" />
        <constructor-arg index="2" value="${redis.redisTimeout}" />
        <constructor-arg index="3" value="${redis.redisCacheName1}" />
    </bean>

    <bean id="jedis.shardInfo2" class="redis.clients.jedis.JedisShardInfo">
        <constructor-arg index="0" value="${redis.redisCacheHost2}" />
        <constructor-arg index="1" value="${redis.redisCachePort2}" />
        <constructor-arg index="2" value="${redis.redisTimeout}" />
        <constructor-arg index="3" value="${redis.redisCacheName2}" />
    </bean>

    <bean id="jedis.shardInfo4" class="redis.clients.jedis.JedisShardInfo">
        <constructor-arg index="0" value="${redis.redisCacheHost4}" />
        <constructor-arg index="1" value="${redis.redisCachePort4}" />
        <constructor-arg index="2" value="${redis.redisTimeout}" />
        <constructor-arg index="3" value="${redis.redisCacheName4}" />
    </bean>

    <bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool">
        <constructor-arg index="0" ref="redisPoolConfig" />
        <constructor-arg index="1">
            <list>
                <ref bean="jedis.shardInfo1" />
                <ref bean="jedis.shardInfo2" />
                <ref bean="jedis.shardInfo4" />
            </list>
        </constructor-arg>
    </bean>

</beans>