.page {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 15px;
  background-color: #fff;
}
.page .form-control,
.page .single-line,
.page .btn {
  border-radius: 0;
}
.page label {
  font-weight: normal !important;
}
.page input[type=number] {
  width: 60px;
}
.page input::-webkit-outer-spin-button,
.page input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.page input[type="number"] {
  -moz-appearance: textfield;
}
