<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunll.center.mapper.CallCdrMapper">
  <resultMap id="BaseResultMap" type="com.sunll.center.entity.CallCdr">
    <!--          -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bind_account" jdbcType="INTEGER" property="bindAccount" />
    <result column="caller" jdbcType="VARCHAR" property="caller" />
    <result column="called" jdbcType="VARCHAR" property="called" />
    <result column="start_stamp" jdbcType="INTEGER" property="startStamp" />
    <result column="answer_stamp" jdbcType="INTEGER" property="answerStamp" />
    <result column="end_stamp" jdbcType="INTEGER" property="endStamp" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="billsec" jdbcType="INTEGER" property="billsec" />
    <result column="hangup_cause" jdbcType="VARCHAR" property="hangupCause" />
    <result column="direction" jdbcType="VARCHAR" property="direction" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--          -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--          -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--          -->
    id, bind_account, caller, called, start_stamp, answer_stamp, end_stamp, duration, 
    billsec, hangup_cause, direction
  </sql>
  <select id="selectByExample" parameterType="com.sunll.center.entity.CallCdrExample" resultMap="BaseResultMap">
    <!--          -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from call_cdr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--          -->
    select 
    <include refid="Base_Column_List" />
    from call_cdr
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--          -->
    delete from call_cdr
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sunll.center.entity.CallCdrExample">
    <!--          -->
    delete from call_cdr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sunll.center.entity.CallCdr">
    <!--          -->
    insert into call_cdr (id, bind_account, caller, 
      called, start_stamp, answer_stamp, 
      end_stamp, duration, billsec, 
      hangup_cause, direction)
    values (#{id,jdbcType=INTEGER}, #{bindAccount,jdbcType=INTEGER}, #{caller,jdbcType=VARCHAR}, 
      #{called,jdbcType=VARCHAR}, #{startStamp,jdbcType=INTEGER}, #{answerStamp,jdbcType=INTEGER}, 
      #{endStamp,jdbcType=INTEGER}, #{duration,jdbcType=INTEGER}, #{billsec,jdbcType=INTEGER}, 
      #{hangupCause,jdbcType=VARCHAR}, #{direction,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sunll.center.entity.CallCdr">
    <!--          -->
    insert into call_cdr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bindAccount != null">
        bind_account,
      </if>
      <if test="caller != null">
        caller,
      </if>
      <if test="called != null">
        called,
      </if>
      <if test="startStamp != null">
        start_stamp,
      </if>
      <if test="answerStamp != null">
        answer_stamp,
      </if>
      <if test="endStamp != null">
        end_stamp,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="billsec != null">
        billsec,
      </if>
      <if test="hangupCause != null">
        hangup_cause,
      </if>
      <if test="direction != null">
        direction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bindAccount != null">
        #{bindAccount,jdbcType=INTEGER},
      </if>
      <if test="caller != null">
        #{caller,jdbcType=VARCHAR},
      </if>
      <if test="called != null">
        #{called,jdbcType=VARCHAR},
      </if>
      <if test="startStamp != null">
        #{startStamp,jdbcType=INTEGER},
      </if>
      <if test="answerStamp != null">
        #{answerStamp,jdbcType=INTEGER},
      </if>
      <if test="endStamp != null">
        #{endStamp,jdbcType=INTEGER},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="billsec != null">
        #{billsec,jdbcType=INTEGER},
      </if>
      <if test="hangupCause != null">
        #{hangupCause,jdbcType=VARCHAR},
      </if>
      <if test="direction != null">
        #{direction,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sunll.center.entity.CallCdrExample" resultType="java.lang.Long">
    <!--          -->
    select count(*) from call_cdr
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--          -->
    update call_cdr
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bindAccount != null">
        bind_account = #{record.bindAccount,jdbcType=INTEGER},
      </if>
      <if test="record.caller != null">
        caller = #{record.caller,jdbcType=VARCHAR},
      </if>
      <if test="record.called != null">
        called = #{record.called,jdbcType=VARCHAR},
      </if>
      <if test="record.startStamp != null">
        start_stamp = #{record.startStamp,jdbcType=INTEGER},
      </if>
      <if test="record.answerStamp != null">
        answer_stamp = #{record.answerStamp,jdbcType=INTEGER},
      </if>
      <if test="record.endStamp != null">
        end_stamp = #{record.endStamp,jdbcType=INTEGER},
      </if>
      <if test="record.duration != null">
        duration = #{record.duration,jdbcType=INTEGER},
      </if>
      <if test="record.billsec != null">
        billsec = #{record.billsec,jdbcType=INTEGER},
      </if>
      <if test="record.hangupCause != null">
        hangup_cause = #{record.hangupCause,jdbcType=VARCHAR},
      </if>
      <if test="record.direction != null">
        direction = #{record.direction,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--          -->
    update call_cdr
    set id = #{record.id,jdbcType=INTEGER},
      bind_account = #{record.bindAccount,jdbcType=INTEGER},
      caller = #{record.caller,jdbcType=VARCHAR},
      called = #{record.called,jdbcType=VARCHAR},
      start_stamp = #{record.startStamp,jdbcType=INTEGER},
      answer_stamp = #{record.answerStamp,jdbcType=INTEGER},
      end_stamp = #{record.endStamp,jdbcType=INTEGER},
      duration = #{record.duration,jdbcType=INTEGER},
      billsec = #{record.billsec,jdbcType=INTEGER},
      hangup_cause = #{record.hangupCause,jdbcType=VARCHAR},
      direction = #{record.direction,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunll.center.entity.CallCdr">
    <!--          -->
    update call_cdr
    <set>
      <if test="bindAccount != null">
        bind_account = #{bindAccount,jdbcType=INTEGER},
      </if>
      <if test="caller != null">
        caller = #{caller,jdbcType=VARCHAR},
      </if>
      <if test="called != null">
        called = #{called,jdbcType=VARCHAR},
      </if>
      <if test="startStamp != null">
        start_stamp = #{startStamp,jdbcType=INTEGER},
      </if>
      <if test="answerStamp != null">
        answer_stamp = #{answerStamp,jdbcType=INTEGER},
      </if>
      <if test="endStamp != null">
        end_stamp = #{endStamp,jdbcType=INTEGER},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="billsec != null">
        billsec = #{billsec,jdbcType=INTEGER},
      </if>
      <if test="hangupCause != null">
        hangup_cause = #{hangupCause,jdbcType=VARCHAR},
      </if>
      <if test="direction != null">
        direction = #{direction,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunll.center.entity.CallCdr">
    <!--          -->
    update call_cdr
    set bind_account = #{bindAccount,jdbcType=INTEGER},
      caller = #{caller,jdbcType=VARCHAR},
      called = #{called,jdbcType=VARCHAR},
      start_stamp = #{startStamp,jdbcType=INTEGER},
      answer_stamp = #{answerStamp,jdbcType=INTEGER},
      end_stamp = #{endStamp,jdbcType=INTEGER},
      duration = #{duration,jdbcType=INTEGER},
      billsec = #{billsec,jdbcType=INTEGER},
      hangup_cause = #{hangupCause,jdbcType=VARCHAR},
      direction = #{direction,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>