html,body{
	width:100%;
	height:100%;
	background: #f2f2f2;
}
.wrap{
	width:calc(100% - 60px);
	height:calc(100% - 90px);
	padding:20px 30px ;
}
.footer{
	width:100%;
	line-height: 50px;
	font-size: 12px;
	background: #fff;
	color:#bfbfbf;
	text-align: center;
	height:50px;
	position: fixed;
	bottom: 0;
	right:0;
}
.balance{
	background: #fff;
	padding:20px;
	border-radius: 4px;
}
.enterpriseLogo{
	width: 60px;
	height:60px;
	margin-right:20px;
}
.enterpriseLogo > img{
	width:100%;
	height:100%;
}
.companyProfile > div{
	line-height:30px;
}
.companyProfile > div:nth-of-type(1){
	font-size: 18px;
	font-weight: bold;
}
.companyProfile > div:nth-of-type(2){
	font-size: 14px;
}
.companyProfile > div:nth-of-type(2) > span{
	padding-right:40px;
}
.companyProfile > div:nth-of-type(1) .NoAuthentication{
	color: #ccc;
	font-size: 14px;
}
.GoAuthentication{
	color:#FE641C;
	cursor: pointer;
}
.Hh3{
	line-height: 18px;
	font-weight: bold;
	font-size: 16px;
	padding:30px 0  20px 0;
}
.walletCont > div{
	width:40%;
}
.walletCont > div:nth-of-type(2){
	border-left:1px solid #f2f2f2;
	padding:0 0 20px 60px
}
.walletCont > div:nth-of-type(1){
	padding-left:30px
}
.walletCont > div > p:nth-of-type(1){
	font-size: 16px;
	line-height: 32px;
	color:#333;
	
}
.walletCont > div > p:nth-of-type(2){
	font-size: 28px;
	font-weight: bold;
	line-height: 32px;
	color:#333;
	padding:20px 0 15px;;
}
.walletCont > div > p:nth-of-type(2) >span:nth-of-type(2){
	font-size: 14px;
	font-weight: bold;
	line-height: 32px;
	color:#fe641c;
	padding-left:15px;
}
.walletCont > div > p:nth-of-type(3){
	font-size: 14px;
	line-height: 16px;
	color:#666666;
	padding-bottom:20px;
}
.walletCont > div > p:nth-of-type(3) > span{
	padding-right:30px;
}
.product > p{
	line-height: 50px;
	font-size: 16px;
}
.cont > div{
	float:left;
	width:28%;
	background: #fff;
	border-radius: 5px;
	transition: .05s linear;
	cursor: pointer;
	position: relative;
}
.cont > div:hover{
	perspective: 50px;
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-o-transform: scale(1.03);
	transform: scale(1.03);
	box-shadow: 0 0 8px 0px #666;
}
.cont > div > img{
	width: 100%;
}
.cont > div > p{
	height:80px;
	padding:10px 20px 0;
	line-height: 25px;
	font-size: 14px;
}
.cont > div:nth-of-type(2){
	margin: 0 7%;
}
.GetInto{
	width:80px;
	height:30px;
	border:1px solid #fe641c;
	line-height: 30px;
	box-sizing: border-box;
	text-align: center;
	color:#fe641c;
	border-radius: 4px;
	margin:30px auto;
	cursor: pointer;
}
.Apply{
	width:80px;
	height:30px;
	line-height: 30px;
	box-sizing: border-box;
	text-align: center;
	background: #fe641c;
	color:#fff;
	border-radius: 4px;
	margin:30px auto;
	cursor: pointer;
}
.foot{
	height:80px;
}
.status{
	position: absolute;
	right:0;
	top:0;
	width:82px;
	height:80px;
}
.status > img{
	width:100%;
	height:100%;
}
.add{
	width:40px;
	height:40px;
	background: #fe641c;
	color:#fff;
	text-align: center;
	line-height: 35px;
	font-size: 35px;
	font-weight: normal;
	border-radius: 50%;
	margin:15px 20px 0 0;
}
.select{
	overflow: hidden;
	position: absolute;
	right: 20px;
	top:15px;
	width:100px;
	display: none;
	z-index: 99;
}
.select > div{
	cursor: pointer;
	float:left;
	width:40px;
	height:40px;
	background: #fe641c;
	color:#fff;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	font-weight: normal;
	border-radius: 50%;
}
.select > div:nth-of-type(2){
	margin-left:20px;
}
